<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search Widget</title>
    <link rel="stylesheet" href="../public/styles/style.css" />
    <script src="https://kit.fontawesome.com/f6254809ea.js" crossorigin="anonymous"></script>
  </head>
  <!-- prettier-ignore-->
  <body>
    <div class="search ">

      <input type="text" class="input" placeholder="Search..." />

      <button class="button">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>

    </div>
    <script src="../public/js/script.js"></script>
  </body>
</html>
